<footer>

    <div class="endbq">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="end_ft">
                        <p class="direct-page">
                            <a class="direct-link" href="trangchu.html">Trang chủ</a>
                        </p>
                        <p class="direct-page">
                            <a class="direct-link" href="gioithieu.html">Giới thiệu</a>
                        </p>
                        <p class="direct-page">
                            <a class="direct-link" href="duan.html">Dự án</a>
                        </p>
                        <p class="direct-page">
                            <a class="direct-link" href="tintuc.html">Tin tức</a>
                        </p>
                        <p class="direct-page">
                            <a class="direct-link" href="lienhe.html">Liên hệ</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="coppyright">
                        <p>Copyright © 2019 HTE Global. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>