<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>


    <!-- Left Panel -->

    <% include ../partials/leftMenu %>

    <div id="right-panel" class="right-panel">

        <!-- Header-->

        <% include ../partials/header %>

        <!-- Header-->

        <!-- .content -->
        <div class="content mt-3">
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">sách đã bán</div>
                                <div class="stat-digit">7700</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .content -->

        <% include ../partials/footer %>
</body>

</html>