<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <!-- Header-->

    <% include ../partials/header %>

    <!-- Header-->
    <main id="main" class="">
            <div id="content" role="main" class="content-area">
                <section class="section" id="section_1629092814">
                    <div class="bg section-bg fill bg-fill  bg-loaded"></div>
                    <div class="section-content relative">
                        <div class="row row-small" id="row-1061787084">
                            <div class="col small-12 large-12">
                                <div class="col-inner">
                                    <div class="container section-title-container mh-title-center-simple" style="margin-bottom:0px;">
                                        <h3 class="section-title section-title-center">
                                            <b></b>
                                            <span class="section-title-main">Giới thiệu chung</span>
                                            <b></b>
                                        </h3>
                                    </div>
                                    <div class="text-center">
                                        <div class="is-divider divider clearfix" style="max-width:80px;background-color:rgb(45, 179, 75);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-small align-middle align-center" id="row-33849410">
                            <div class="col medium-12 small-12 large-6">
                                <div class="col-inner">
                                    <div class="container section-title-container mh-title-left-simple" style="margin-bottom:20px;">
                                        <h3 class="section-title section-title-normal">
                                            <b></b>
                                            <span class="section-title-main" style="font-size:85%;">Sơ lược về công ty</span>
                                            <b></b>
                                        </h3>
                                    </div>
                                    <p class="mh-font-small">Được thành lập ngày 29.09.1992 (tiền thân là công ty TNHH TM Thành Công), Tập đoàn CapitalLand hoạt động trong lĩnh
                                        vực sản xuất kinh doanh thú y, thuốc thủy sản, xây biệt thự cho thuê. Năm 2007, Tập đoàn tái cấu trúc và hợp nhất
                                        các công ty thành 2 Tập đoàn:</p>
                                    <div class="gap-element clearfix" style="display:block; height:auto; padding-top:20px"></div>
                                    <div class="row row-small" id="row-1443760605">
                                        <div class="col medium-6 small-12 large-6">
                                            <div class="col-inner">
                                                <div class="container section-title-container mh-title-left-simple" style="margin-bottom:0px;">
                                                    <h3 class="section-title section-title-normal">
                                                        <b></b>
                                                        <span class="section-title-main" style="font-size:85%;color:rgb(135, 67, 0);">CapitalLand Corp</span>
                                                        <b></b>
                                                    </h3>
                                                </div>
                                                <p class="mh-no-margin-bottom mh-font-small mh-text-justify">Hoạt động trong lĩnh vực Thức ăn gia súc, Trại chăn nuôi, Thuốc thú y, Vaccine và tiến đến thiết lập chuỗi giá
                                                    trị cung cấp nguồn thực phẩm sạch chất lượng cao, an toàn giàu dinh dưỡng.</p>
                                                <p class="mh-no-margin-bottom mh-color-primary">(www.capitallandcorp.vn)</p>
                                            </div>
                                        </div>
                                        <div class="col medium-6 small-12 large-6">
                                            <div class="col-inner">
                                                <div class="container section-title-container mh-title-left-simple" style="margin-bottom:0px;">
                                                    <h3 class="section-title section-title-normal">
                                                        <b></b>
                                                        <span class="section-title-main" style="font-size:85%;color:rgb(135, 67, 0);">Novaland Group</span>
                                                        <b></b>
                                                    </h3>
                                                </div>
                                                <p class="mh-no-margin-bottom mh-font-small mh-text-justify">NOVALAND Group: Hoạt động trong lĩnh vực bất động sản</p>
                                                <p class="mh-no-margin-bottom mh-color-primary">(www.capitalland.com.vn)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mh-font-small">Hiện nay, Capitalland Group là một trong những công ty có uy tín trong lĩnh vực Đầu tư và Phát triển Bất động sản
                                        với tổng số vốn điều lệ 10.143 tỷ đồng.</p>
                                </div>
                            </div>
                            <div class="col medium-8 small-12 large-6">
                                <div class="col-inner text-center">
                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1363747068">
                                        <div class="img-inner dark">
                                            <img width="470" height="369" src="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung.jpg" data-src="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung.jpg"
                                             class="attachment-original size-original lazy-load-active" alt="" srcset="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung.jpg 470w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung-382x300.jpg 382w"
                                             data-srcset="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung.jpg 470w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/gioi-thieu-chung-382x300.jpg 382w"
                                             sizes="(max-width: 470px) 100vw, 470px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section" id="section_1575412284">
                    <div class="bg section-bg fill bg-fill  bg-loaded"></div>
                    <div class="section-content relative">
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1382202172">
                            <div class="img-inner dark">
                                <img width="100%" height="484" src="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1.jpg"
                                 data-src="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1.jpg" class="attachment-original size-original lazy-load-active"
                                 alt="" srcset="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1.jpg 1440w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1-400x134.jpg 400w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1-768x258.jpg 768w"
                                 data-srcset="https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1.jpg 1440w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1-400x134.jpg 400w, https://batdongsan16.trustweb.vn/wp-content/uploads/2019/04/benner-gioi-thieu-1-768x258.jpg 768w"
                                 sizes="(max-width: 1440px) 100vw, 1440px">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    <% include ../partials/footer %>
</body>

</html>