<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-11">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">

                <div class="dropdown for-message">
                </div>
            </div>
        </div>

        <div class="col-sm-1">
            <a href="/admin/logout" class="btn btn-danger rounded-circle btn-sm">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>

</header><!-- /header 